
body {
    background-image: url('../imagenes/beautiful-dusk-light-colorful-beauty.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#tituloPrincipal {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 65px;
    padding: 0px;
    margin: 0px;
}

    #tituloPrincipal h1 {
        font-size: 75px;
        padding: 0px;
        word-spacing: 10px;
        border-radius: 65px;
        color: rgb(245, 243, 240);
        text-shadow: 5px 3px rgba(27, 38, 49,0.5);
        text-align: center;
        font-family: 'KG What A Time';
        margin: 0px;
    }

    #tituloPrincipal h2 {
        font-size: 35px;
        padding: 0px;
        text-shadow: 5px 3px rgba(27, 38, 49,0.5);
        color: rgb(245, 243, 240);
        text-align: center;
        font-family: 'Chocolate Cookies';
        margin: 0px;
    }

nav {
    background-color: rgba(46, 134, 193,0.5);
    border-radius: 65px;
}

    nav ul {
        list-style: none;
        text-align: center;
        padding: 0px;
    }

        nav ul li {
            display: inline;
        }

            nav ul li a {
                color: white;
                font-size: 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-decoration: none;
                padding: 8px 20px;
                display: inline-block;
            }

                nav ul li a:hover {
                    color: rgb(27, 38, 49);
                    font-size: 25px;
                    background-color: rgba(93, 173, 226,0.25);
                }

section .contenedor {
    margin: auto;
    margin-left:auto;
    margin-right:auto;
    width: 97%;
    padding: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    color: #424949;
    overflow: hidden;
    font-family: 'Cloud Light';
}
    section .contenedor div {
        margin-left: auto;
        padding:15px;
        margin-right: auto;
    }
    section .contenedor .botones {
        border-style: solid;
        border-color: inherit;
        border-width: 1px;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
        font-family: 'Cloud Light';
        cursor: pointer;
        outline: none;
        font-size: 18px;
        background: #CACFD2;
        border-radius: 5px;
        font-weight: lighter;
        cursor: pointer;
        margin: 15px;
        outline: none;
    }
    section .contenedor #lbl_titulo {
        font-size: 45px;
        margin-top: 40px;
        padding: 20px 0;
        margin-left: 20px;
    }

    section .contenedor #lbl_subtitulo {
        font-size: 25px;
        margin-top: 40px;
        padding: 20px 0;
        margin-left: 20px;
    }
    section .contenedor .datos {
        font-size: 20px;
        margin-top: 40px;
        padding: 20px 0;
        margin-left: 20px;
    }
    section .contenedor.tabla-compras {
        border: black 1px solid;
        font-size:25px;

    }
#pie {
    color: rgb(27, 38, 49);
    bottom: 0;
    position: static;
    width: 100%;
    height: 1px;
}
